*.parquet
*.csv
!Internship/Day 1 Titanic Dataset/Titanic-Dataset.csv
!Internship/Day 2  Student Performance Analysis/StudentsPerformance.csv
!Internship/Day 3 Machine-Learning-model/Housing.csv
!Internship/Day 5 Cleaning,Preprocessing,Feature/dataset1/Housing.csv
!Internship/Day 5 Cleaning,Preprocessing,Feature/dataset2/Titanic-Dataset.csv